body{
	font-size: 15px;
	font-family: sans-serif;
	background: url(https://static.pexels.com/photos/6471/woman-hand-smartphone-desk-large.jpg) no-repeat;
        background-size: cover;
        
}


.container{
	background-color: #D6D6D6;
	height: auto;
	width: 320px;
	margin: auto;
	padding: 25px;
	

}

h1{
	border-bottom: 1px solid #2D5C6B;
	color: #094D63;
	padding-left: 30px;
}


form{
	width: 300px;
	background: #2D5C6B;
	color: #fff;
	border-radius: 6px;
	padding: 10px 10px;
}

#item{
	width: 180px;

}

#list{
	width: 240px;
	
}

#list li{
	list-style: none;
	border-radius: 4px;	
	background: #6898A8;
	padding: 6px 12px;
	margin-bottom: 8px;
	position: relative;
}


#list li:nth-child(2n){
	background: #A8D4E3;
}

#btn{
	border-radius: 6px;
	color: #3B5D69;
	
}
#btnDel{
	border-radius: 6px;
	font-size: 10px;
	color: #2D5C6B;
}


